# Environments
.venv
env/
venv/

# IDE settings
.idea/
.vscode/

## Python and Pytest cache
#**/__pycache__
#.pytest_cache
#
## Test results and test assets
#**/allure-results
#**/test-results
#deleted_ids_*
#created_ids_*
#trace*

# Configuration and scripts
config.yml
script.py
